.content {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  /* width: 55%; */
  color: #2e2c2cb7;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center {
  margin-left: 25%;
}
.content-paragraph {
  margin-top: 10px;
  color: #2e2c2cb7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-primary {
  margin-left: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(54, 53, 53) !important;
  background-color: rgba(245, 91, 137, 0.733) !important;
  border-color: rgba(245, 91, 137, 0.733) !important;
  border-radius: 30px !important;
  padding: 4px;
}

div > .nav-bar {
  background-color: #fdd9477a !important;
  border-radius: 25px;
  width: 50%;
  margin-left: 25%;
  padding-top: 15px;
  text-align: center;
  justify-content: space-evenly !important;
  opacity: 0.8;
  top: -15px;
  color: rgb(41, 39, 39);
}
